<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/display_form.css}" />
</head>
<body>
<h2>Welcome! Please, enter one of the application.</h2>
<table>
    <tbody>
    <tr>
        <td>
            <th:block th:each="grant : ${user.getGrants()}">
                <input type="checkbox" name="checked" th:value="${user.getGrants().get(0).getName()}"/>
                <label th:text="${user.getGrants().get(0).getName()}"></label>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>