<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grasshopper cipher</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/display_form.css}" />
</head>
<body>
<h2>Result</h2>
<table>
    <tbody>
    <tr>
        <td><strong>Login:</strong></td>
        <td><span th:text="${user.login}"></span></td>
    </tr>
    <tr>
        <td><strong>Password:</strong></td>
        <td><span th:text="${user.password}"></span></td>

    </tr>
    </tbody>
</table>
</body>
</html>