<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add grants</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/display_form.css}"/>
</head>
<body>
<h2>Enter some grants that you want to add</h2>
<form th:action="@{/user/saveGrant}" th:object="${grants}" method="post">
    <table>
        <tbody>
        <tr>
            <td>
                <th:block th:each="grant : ${grants}">
                    <input type="checkbox" name="cers" th:value="${grant}"/>
                    <label th:text="${grant}"></label>
                    <br/>
                </th:block>
            <th>
                <button type="submit" name="addRow">Add grants</button>
            </th>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>